*, *:before, *:after{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0.2em;
}

#background-container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tab  {

  background: rgba(50, 50, 50, 0.4);
  padding: 8px 15px;
  border: 0;
  color: white;
  font-weight: bold;
}

.tab-content{
  color:white;
  font-family: arial, sans-serif;
  width: 100%;
  max-width: 540px;  
}
